*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, textarea{
    background-color: #508F13;
    font: 500 15PX Poppons, sans-serif;
    
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

  table{
   
    background-color:aliceblue;
    border-radius: 30px;
    width: 70vw;
    height: 70vh;
    text-align:center;
  }

.container{
    animation-name: center-container;
    animation-duration: 900ms;
    background-color:#306C0C;
    font-size: 15px;
    margin: 20px 0;
    padding: 50px;
    width: 80vw;
    height: 80vh;
    border-radius: 30px;
    
}

.container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes center-container {
    from {
        opacity: 0;
        transform: scale(0.5);
    }to{
        opacity: 1;
        transform:scale(1);
    }
}

